
.header-container {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 2px black;
}

.top-nav-list {
    justify-content: center;
}
.nav-item {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
    text-decoration: none;
    color: white;
    background-color: var(--primOrange);
}


.login-name {
    font-size: 30px;
    margin: 5%;
}