
.header-container {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 2px black;
}

.top-nav-list {
    justify-content: center;
}
.nav-item {
    font-size: 25px;
    margin: 5%;
    text-decoration: none;
    color: black;
}


.login-name {
    font-size: 30px;
    margin: 5%;
}