.App {
  text-align: center;
  margin-top: 10px;
}


/* toggle darkmode */
body {
  font-family: var(--mainText1);
}

:root {
  --primOrange: #f26925;
  --primWhite: #ffff;
  --primGray: #474c55;
  --secBlue: #72a4c2;
  --secYellow: #fcb414;
  --secGray: #b9b9ba;
  --mainText1: 'IBM Plex Sans', sans-serif;
  --mainText2: 'Oxygen', sans-serif;
}

.dark-btn {
  background-color: var(--primOrange);
}