
.text-container {
    border: 2px solid var(--secGray);
    border-radius: 15px;
    box-shadow: 2px 2px 2px var(--secGray);
    position: absolute;
    top: 30%;
    left: 50%;
    width: 400px;
    height: 250px;
    background-color: var(--primWhite);
    animation: slidein 1s;
}