.banner-container {
    /* border: 1px solid orange; */
    padding-bottom: 20px;
}
.teampic {
    height: 600px;
}

.dividing-line {
    border-bottom: 4px solid var(--primOrange);
}

.login-options {
    width: 30%;
    height: 300px;
    border: 2px solid var(--secGray);
    border-radius: 15px;
    box-shadow: 2px 2px 2px var(--secGray);
    padding-top: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.carousel-inner{
    height: 500px;
}

.icons:hover {
    color: var(--primOrange);
    transition: ease-in 0.5s;
}

#d-none{
    display:none;
}

/* #loginBox {
    display: none;
} */
.carousel-inner {
    background-repeat: no-repeat;
}